.accordionWImage{
    margin: 10px 10%;

    border-radius: 10px;
    border: 1px solid rgb(209, 209, 209);
    overflow: hidden;

    &__header{
        background-color: #2B2A4C;
        padding: 15px;
        color: white;

        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    &__content{
        padding: 20px;

        display: flex;

        gap: 50px;

        & .imagen{
            width: 200px;

            & img{ 
                width: 200px;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        & .texto{
            display: flex;
            align-items: center;
        }

       
    }
}