$mainRed : #B31312;

.crud{
    display: flex;

    //This is the Nav
    &__nav{
        
        background-color: white;
        top: 0;
        position: fixed;
        position: static;
        width: 300px;
        min-height: 100vh;
        box-shadow: 5px 0px 5px 0px rgba(135,135,135,0.75);
        -webkit-box-shadow: 5px 0px 5px 0px rgba(135,135,135,0.75);
        -moz-box-shadow: 5px 0px 5px 0px rgba(135,135,135,0.75);

        //Animación

        -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        &__switchBttn{
            
            position: fixed;
            top: 20px;
            left: 20px;
            background-color: white;
            border: none;

            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 45px;
            height: 45px;

            cursor: pointer;

            box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);

            font-size: 20px;
            color: green;

            //Animacion
            -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;


            transition: 0.5s;

            &:hover{
                background-color: green;
                color: white;
            }
        }

        & .header{
            
            & button{
                
                position: absolute;
                background-color: white;

                width: 45px;
                height: 45px;
                border-radius: 50%;
                left: 105%;
                top: 10px;

                display: flex;
                justify-content: center;
                align-items: center;

                border: none;
                font-size: 24px;
                color: red;

                transition: 0.5s;

                cursor: pointer;

                &:hover{
                    background-color: red;
                    color: white;
                }
            }
        }

        & .logo{
            margin: 10px 20px;           

            & img{
                width: 100%;
            }
        }

        & .buttons{
            margin-top: 30px;

            & button{
                width: 100%;
                text-align: left;
                border: none;
                background-color: transparent;
                font-size: 20px;
                padding: 10px 20px;

                cursor: pointer;

                transition: 0.1s;

                &:hover{
                    background-color: $mainRed;
                    color: white;
                    padding: 20px 20px;
                }
            }
        }

    }

    &__body{
        padding: 20px;
        width: 100%;

        
        

        & .title{
            font-size: 30px;
            padding: 15px 0;
        }
    }
}

//Estas son las listas de carreras
.carreras{

    &__card{
        border: 1px solid $mainRed;
        margin-bottom: 20px;

        &__title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            font-size: 18px;
            background-color: $mainRed;
            color: white;
            font-weight: bold;
            padding: 10px 30px;

            & button{
                padding: 5px 15px;
                border-radius: 10px;
                border: none;
                cursor: pointer;
            }
            & .editar{
                background-color: white;
                color: green;
                border: 2px solid green;
            }
            & .eliminar{
                background-color: white;
                color: red;
                border: 2px solid red;
            }
        }

        & .row{
            display: flex;
            justify-content: space-between;
            
            & .item{
                flex-grow: 1;
                // border: 1px solid $mainRed;
                padding: 10px 20px;

                &__title{
                    color: $mainRed;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
    }

}

.noticias{
    display: flex;
    gap: 20px;
    
    flex-wrap: wrap;

    & .noticia{
        width: 300px;
        border: 1px solid grey;
        

        & img{
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        &__title{
            font-weight: bold;
            padding: 10px 10px;

        }

        &__date{
            padding: 5px 10px;
            font-size: 12px;
            font-weight: bold;
            color: gray;
        }

        &__buttons{
            padding: 10px;
            display: flex;
            justify-content: space-between;

            & button{
                padding: 5px 10px;
                border-radius: 10px;
                border: 2px solid black;
                cursor: pointer;
            }

            & .borrar{
                border-color: #B31312;
                color: #B31312;
            }

            & .editar{
                border-color: green;
                color: green;
            }
        }
    }
}

@media (max-width: 600px) {
    .crud{
        &__nav{
            position: fixed;
            box-shadow: 200px 0px 400px 174px rgba(0,0,0,0.75);
            -webkit-box-shadow: 200px 0px 400px 174px rgba(0,0,0,0.75);
            -moz-box-shadow: 200px 0px 400px 174px rgba(0,0,0,0.75);
            height: 100vh;
        }
    }
}

//Animaciones 


/* ----------------------------------------------
 * Generated by Animista on 2024-3-14 21:0:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(-500px);
              transform: translateX(-500px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  

  /* ----------------------------------------------
 * Generated by Animista on 2024-3-14 21:16:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-200px);
              transform: translateY(-200px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-200px);
              transform: translateY(-200px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  