$mainRed: #B31312;


.genericSection{
    margin: 20px 10%;

    & h3{
        color: $mainRed;
        font-weight: bold;
        font-size: 30px;
        padding: 10px 0;
    }

    & .text{
        font-size: 16px;
        color: rgb(46, 46, 46);

        white-space: pre-line;

        & .subtitle{
            color: $mainRed;
            font-size: 20px;
            font-weight: bold;
            padding: 5px 0;
            font-style: italic;
        }

        & ul{
            padding-left: 40px;
        }

        & button{
            cursor: pointer;
            background-color: $mainRed;
            border-radius: 15px;
            border: none;
            color: white;
            padding: 2px 25px;
            font-size: 18px;

            margin: 10px 0;

            transition: 0.5s;

            border: 1px solid $mainRed;

            &:hover{

                background-color: white;
                color: $mainRed;
            }
        }
    }
}