$mainRed : rgb(187, 187, 187);

.roundtable{
    
    width: 100%;
    border: 1px solid $mainRed;
    border-radius: 15px;
    overflow: hidden;

    & table{
        border-collapse: collapse;
        width: 100%;
        td{
            padding: 8px 10px;
            border-top: 1px solid $mainRed;
            text-align: center;
                    
            & button{
                background-color: transparent;
                border: none;
                font-size: 20px;
                cursor: pointer;
                transition: 0.5s;
                &:hover{
                    color: $mainRed;
                }
            }
        }

        th{
            font-size: 18px;
            padding: 15px;
            color: black;
            font-weight: bold;
        }
    }
}

@media (max-width:600px) {
    .roundtable{
        border-radius: 0;
        overflow: auto;

        & table{
            table-layout: auto;
        }
    }
}