$mainRed : #B31312;


.pageSwitch{
    padding: 0 10%;

    display: flex;
    justify-content: left;
    align-items: center;

    gap: 20px;

    padding: 15px 0;
    margin: 0 10%;
    margin-top: 20px;

    flex-wrap: wrap;

    & button{
        
        cursor: pointer;
        height: 100%;
        // border-radius: 15px;
        padding: 5px 20px;
        background-color: white;

        

        border-radius: 20px;

        border: 2px solid $mainRed;

        font-size: 16px;
        color: $mainRed;

        &:hover{
            background-color: $mainRed;
            color: white;
        }
    }
}