.chart{
    display: flex;
    padding: 20px 0;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;

    &__main{
        width: 400px;
        padding: 20px;
        border-radius: 25px;
        border: 1px solid rgb(179, 179, 179);
    }

    &__secondary{
        flex-grow: 1;
        height: 400px;
        overflow-y: scroll;

        & .item{
            margin-bottom: 10px;

            border: 1px solid black;
            padding: 20px 10px;
            border: 1px solid rgb(179, 179, 179);
            border-radius: 25px;


            &__title{
                font-weight: bold;
                font-size: 18px;
                color: #4E4FEB;
            }

            &__secondary{
                color: grey;
            }

            &__numberMain{
                font-size: 30px;
                font-weight: bold;
            }
        }
    }
}

@media (max-width:600px) {
    .chart{
        &__main{
            width: 80%;
        }
    }
}