$mainRed: #b11830; 


.mainFooter{
    & .section1{
        background-color: #343B41;
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
        padding: 20px;

        & div{
            & p{
                color: white;
                font-size: 20px;
                font-weight: bold;
            }
        }

        & a{
            color: white;
            text-decoration: none;
        }
    }

    & .section2{
        background-color: $mainRed;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        & img{
            height: 70px;
            object-fit: cover;
            
        }
    }
}